<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p4stuinfomanageforhall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P4StuInfoManageforHall">
        <activity android:name=".CreateSeat"></activity>
        <activity android:name=".HallAdminAssign" />
        <activity android:name=".AdminEditProfile" />
        <activity android:name=".AdminProfile" />
        <activity android:name=".HallAdmin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".AdminRegister" />
        <activity android:name=".CreateRoom" />
        <activity android:name=".CreateFloor" />
        <activity android:name=".CreateHall" />
        <activity android:name=".SuperAdmin">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".CheckAdminLevel" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Profile" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VerifyEmail" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>